<div style="background: #0c1524">
  <div style="padding-top: 200px; width: 80%" class="mx-auto position-relative">
  
    <img src="assets/images/logo.svg" alt="" srcset="" style="width: 130px" />

    <div class="row gap-3 mt-3">
      <div class="col-4">
        <div class="d-flex gap-5">
          <img
            src="assets/images/icon-location.svg"
            style="height: 30px; width: 30px"
            alt=""
          />
          <span
            >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non,
            placeat esse illo odit assumenda magni sit nam pariatur quia officia
            quibusdam atque iste animi natus. Commodi ipsum neque qui
            sunt!</span
          >
        </div>
      </div>
      <div class="col">
        <div class="d-flex gap-5">
          <img
            src="assets/images/icon-phone.svg"
            style="height: 30px; width: 30px"
            alt=""
          />
          <p>+257 62471784</p>
        </div>
        <div class="d-flex gap-5 mt-3">
          <img
            src="assets/images/icon-email.svg"
            style="height: 30px; width: 30px"
            alt=""
          />
          <p>ndabubahajanvier&#64;gmail.com</p>
        </div>
      </div>
      <div class="col">
        <p>About us</p>
        <p>Jobs</p>
        <p>Press</p>
        <p>Blog</p>
      </div>
      <div class="col">
        <p>Contact us</p>
        <p>Terms</p>
        <p>Privacy</p>
      </div>
      <div class="col d-flex gap-4">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png"
          style="height: 30px; width: 30px"
          alt=""
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/2491px-Logo_of_Twitter.svg.png"
          style="height: 30px; width: 30px"
          alt=""
        />
        <img
          src="https://img.freepik.com/premium-vector/instagram-logo-icon-social-media-platform-symbol_628407-1934.jpg?semt=ais_incoming"
          style="height: 30px; width: 30px"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
