<div #buttonContainer id="button-container" class="d-flex bg-white text-dark rounded-2 position-relative p-2 mx-auto" style="width: 340px;">
    <!-- Élément de surbrillance avec texte dynamique -->
    <div #highlight class="highlight position-absolute d-flex justify-content-center align-items-center fw-bold text-white z-3 text-white bg-danger rounded-2">
        {{ highlightText }}
    </div>
     <img src="./assets/images/motif.png" class="motif-top " alt="any" />
     <img src="./assets/images/motif.png" class="motif-bottom " alt="any" />

    <!-- Boutons -->
    <div class="button-animate flex-grow-1 text-center py-2 fw-bold position-relative z-2" (click)="setActive(0)">
        Accounts
    </div>
    <div class="button-animate flex-grow-1 text-center py-2 fw-bold position-relative z-2 " (click)="setActive(1)">
        Wallet
    </div>
</div>
