<div class="w-100 h-100" style="background: #1c2230; color: white">
  <app-header />
  <div class="w-50 mx-auto position-relative">
    <img src="./assets/images/illustration-intro.png" alt="" srcset="" />
    <div class="position-absolute">
      <h1 class="text-center">
        All your files in one secure location, acceessible anywhere.
      </h1>
      <p class="text-center">
        Flyo stores all your most important files in secure location. Access
        them whenever you need, share and collaborate with friends familly and
        co-workers
      </p>
      <div class="d-flex justify-content-center mt-5">
        <a class="btn btn-primary px-4 rounded-5 px-5" routerLink="/signup"
          >Get Started</a
        >
      </div>
      <div class="text-center" style="margin-top: 10rem">
        <div class="row">
          <div class="col">
            <img src="./assets/images/icon-access-anywhere.svg" alt="any" />
            <h4 class="fw-bold">Access your files Anywhere</h4>
            <p>
              The ability to use a smartphone ,tablet, or computer to access
              your account means your files follow you everywhere
            </p>
          </div>
          <div class="col">
            <img src="./assets/images/icon-security.svg" alt="secure" />
            <h4 class="fw-bold">Security you can trust</h4>
            <p>
              2-factor authentication and user-controlled encryption are just a
              couple of the security we allow to help secure your files
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <img src="./assets/images/icon-collaboration.svg" alt="any" />
            <h4 class="fw-bold">Real-time collaboration</h4>
            <p>
              Securely share files and folders with freinds,family and
              colleagues for live collaboration. No email attachments required.
            </p>
          </div>
          <div class="col">
            <img src="./assets/images/icon-any-file.svg" alt="secure" />
            <h4 class="fw-bold">Store any type of file</h4>
            <p>
              Whether you're sharing holidays photos or work documents. Fylo has
              you covered allowing for all file types to be securely stored and
              shared.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    class="w-100"
    src="./assets/images/bg-curvy-desktop.svg"
    alt="instru"
    srcset=""
  />
  <div style="background: #181e2a; height: 350px" class="w-100"></div>
  <div
    style="background: #181e2a; padding-top: 200px; padding-bottom: 300px"
    class="w-100 position-relative"
  >
    <div
      style="background: #181e2a; gap: 213px"
      class="container mx-auto d-flex justify-content-between align-items-center"
    >
      <img
        src="./assets/images/illustration-stay-productive.png"
        alt="actions"
      />
      <div>
        <h1 class="text-start fw-bold" style="color: white">
          Stay productive , whenever you are
        </h1>
        <p class="text-start" style="color: white">
          Never let location be issue when accessing your files. Fylo has you
          covered for of your file storage needs
        </p>
        <p class="text-start" style="color: white">
          Securely share files and folders with friends, family and colleagues
          for live collaboration. No email attachments required.
        </p>
        <div
          class="py-2 border-3 border-bottom"
          style="width: max-content; border-color: #64e1dd"
        >
          <span style="color: #64e1dd">See how Fylo works </span>
          <img src="./assets/images/icon-arrow.svg" alt="aa" />
        </div>
      </div>
    </div>
    <div
      class="container row mx-auto gap-5 position-relative"
      style="margin-top: 190px"
    >
      <img
        src="./assets/images/bg-quotes.png"
        class="position-absolute start-0 z-2"
        alt=""
        style="width: 53px; top: -20px"
      />
      <div
        class="col p-4 rounded-2 position-relative z-3"
        style="background: #21293c"
      >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
          perferendis voluptate? Quo cum provident tempora laborum quia? Iusto
          magnam veritatis nemo culpa totam? Veniam quo quas tempora, ullam
          animi quia.</span
        >
        <div class="d-flex gap-2 align-items-center mt-2">
          <img
            src="./assets/images/profile-1.jpg "
            class="rounded-circle w"
            alt="aa"
            style="width: 25px; height: 25px"
          />
          <div>
            <span class="mb-0">John Doe</span>
            <p class="mb-0" style="font-size: smaller">Product Manager</p>
          </div>
        </div>
      </div>
      <div class="col p-4 rounded-2" style="background: #21293c">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
          perferendis voluptate? Quo cum provident tempora laborum quia? Iusto
          magnam veritatis nemo culpa totam? Veniam quo quas tempora, ullam
          animi quia.</span
        >
        <div class="d-flex gap-2 align-items-center mt-2">
          <img
            src="./assets/images/profile-2.jpg "
            class="rounded-circle"
            alt="aa"
            style="width: 25px; height: 25px"
          />
          <div>
            <span class="mb-0">John Doe</span>
            <p class="mb-0" style="font-size: smaller">Product Manager</p>
          </div>
        </div>
      </div>
      <div class="col p-4 rounded-2" style="background: #21293c">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
          perferendis voluptate? Quo cum provident tempora laborum quia? Iusto
          magnam veritatis nemo culpa totam? Veniam quo quas tempora, ullam
          animi quia.</span
        >
        <div class="d-flex gap-2 align-items-center mt-2">
          <img
            src="./assets/images/profile-3.jpg "
            class="rounded-circle"
            alt="aa"
            style="width: 25px; height: 25px"
          />
          <div>
            <span class="mb-0">John Doe</span>
            <p class="mb-0" style="font-size: smaller">Product Manager</p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="p-5 position-absolute start-50 translate-middle-x"
      style="bottom: -125px; background: #1c2230; max-width: 700px"
    >
      <h1 class="fw-bold text-center px-4">Get access early today</h1>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
        rem sed harum vel iure minima cum optio, corrupti a ab consequatur
        fugiat cumque sunt natus nihil in debitis earum delectus?
      </p>
      <div class="d-flex gap-3">
        <input
          type="text"
          class="py-2 px-2 text-dark rounded-5"
          style="width: 66%"
          placeholder="do your search"
        />
        <button class="btn bg-primary rounded-5 py-2">
          Get started for free
        </button>
      </div>
    </div>
  </div>
  <app-footer />
</div>
